@import "tailwindcss";
@source "../**/*.{ts,tsx}";

:root {
  color-scheme: dark;
}

@layer base {
  html,
  body {
    /* Preto Absoluto para não ter erro de tom */
    background-color: #000000 !important;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  /* Remove qualquer espaço entre elementos */
  main {
    display: block;
    background-color: #000000 !important;
  }
}

/* Cursor e Botões */
@layer base {
  button,
  .cursor-pointer {
    cursor: pointer !important;
  }
}

/* Estilo dos Cards (Contraste com o fundo preto) */
.bg-zinc-card {
  background-color: #09090b !important;
  border: 1px solid #18181b !important;
}
